.popup__container {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 330px;
  background-color: white;
  border-radius: 10px;
  position: relative;
}

@media all and (max-width: 1279px) {
  .popup__container {
    width: 282px;
    
  }
}
