.popup__svg {
  position: absolute;
  width: 32px;
  height: 32px;
  right: -40px;
  top: -40px;
}

.popup__svg:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media all and (max-width: 1279px) {
  .popup__svg {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
