.header__logo {
  background-image: url(../../../images/Vector.svg);
  width: 142px;
  height: 33px;
}  

.header__logo:hover {
  cursor: pointer;
}

@media all and (max-width: 1279px) {
  .header__logo {
    width: 104px;
    margin-left: 27px;
  }
}
