.header__logo {
  width: 142px;
  stroke: #fff;
}

.header__logo:hover {
  cursor: pointer;
  stroke: black;
  fill:black;
  color: black;
}

@media all and (max-width: 1279px) {
  .header__logo {
    width: 104px;
    height: 24px;
    margin-left: 27px;
  }
}
