.form__capture {
  border: none;
  border-bottom: 1px solid #f7f7fa;
  font-size: 14px;
  line-height: 17px;
  padding: 0;
  padding-bottom: 13px;
  margin-bottom: 48px;
}

@media all and (max-width: 1279px) {
  .form__capture {
    margin-bottom: 45px;
  }
}
