.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 51px;
}

@media all and (max-width: 1279px) {
  .intro {
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
  }
}
