.intro__name {
  display: block;
  color: white;
  font-size: 42px;
  font-weight: 500;
  line-height: 114%;
  margin: 0 18px 0 0;
}

@media all and (max-width: 1279px) {
  .intro__name {
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    margin-right: 10px;
  }
}
