.popup-remove {
    
}

.remove-popup__text {

}

@media all and (max-width: 900px) {
    .remove-popup__text {
        margin-bottom: 24px;
        margin-left: 24px;
    }
}

.remove-popup__button {

}

@media all and (max-width: 900px) {
    .remove-popup__button {
        margin-bottom: 32px;
    }
}

.remove-popup-form {

}

@media all and (max-width: 900px) {
    .remove-popup-form {
        margin-bottom: 32px;
    }
}